# Byte-compiled / optimized / DLL files
**/__pycache__
*$py.class
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
**/video_llama_stage1_pretrain_v2.yaml
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

data/
eval_configs/video_llama_test_run.yaml
**/video_llama_stage1_pretrain_v2.yaml
**/video_llama.py
**/output
**/video_llama_stage2_finetune_v2.yaml
eval_configs/video_llama_test_**.yaml
**/train_configs/video_llama**
test_chatglm.py
test_llava_instruct.py
.vscode/*
**/conversation_video_backup.py
**/test_demo.py
**/video_llama_*.py
video_llama/configs/datasets/instruct/avqa_instruct.yaml
video_llama/configs/datasets/instruct/valor_instruct.yaml
video_llama/configs/datasets/instruct/avsd_instruct.yaml
video_llama/datasets/datasets/audio_video_dataset.py
video_llama/datasets/builders/audio_backup_instruct_builder.py
demo_audiovideo.py
